<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>808580011359-424f0028qppvkugnl7g2lngj7d1gvlpq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.808580011359-424f0028qppvkugnl7g2lngj7d1gvlpq</string>
	<key>API_KEY</key>
	<string>AIzaSyB8016YtCiksZLmgOSMBdX8p0KxYPNPoGo</string>
	<key>GCM_SENDER_ID</key>
	<string>808580011359</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.redditClone</string>
	<key>PROJECT_ID</key>
	<string>reddit-clone-new</string>
	<key>STORAGE_BUCKET</key>
	<string>reddit-clone-new.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:808580011359:ios:45c26d4d46e9c72e53d2ea</string>
</dict>
</plist>